<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>iniciarSecion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label position="floating">Cédula</ion-label>
    <ion-input type="text" [(ngModel)]="cedula"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Clave</ion-label>
    <ion-input type="password" [(ngModel)]="clave"></ion-input>
  </ion-item>

  <ion-button expand="full" (click)="iniciarSesion()">Iniciar Sesión</ion-button>
</ion-content>