<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>videos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">videos</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list>
    <ion-item *ngFor="let video of videos">
      <ion-thumbnail slot="start">
        <img [src]="'https://img.youtube.com/vi/' + video.link + '/hqdefault.jpg'">
      </ion-thumbnail>
      <ion-label>
        <h2>{{ video.titulo }}</h2>
        <p>{{ video.descripcion }}</p>
        <ion-button (click)="openVideo(video.link)">Ver Video</ion-button>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
